* {
  box-sizing: border-box;
    
}

html {
  min-height: 100%;
}
body {
  font-size: 20px;
  margin: 0;
  /* min-height: 100%; */
  width: 100%;

}



button {
  border-radius: 13px;
  border: 1px solid black;
  padding: 3%;
  font-size: inherit;
  margin: 1% auto 0 auto;
  right: 0;
-webkit-box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 4px 8px rgba(50, 50, 50, 0.75);
box-shadow:         2px 4px 8px rgba(50, 50, 50, 0.75);

}

.center {
  margin: auto;
  text-align: center;
}

.col3 {
  padding: 1%;
  width: 40%;
  float: left;
}

.col16 {
  width: 16%;
  margin: 0 1% 0 1%;
  float: left
}
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
.cola {
  padding: 1%;
  width: 50%;

  /* display: inline-block; */
}


.collapsed {
  border-bottom: 3px dotted black;
}
.container {
  width: 66%;
  margin: auto auto;
}

.expander {
  float: right;
}

footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
}

form {
  padding: 1%;
  width: 100%%;
  margin: 0 auto 3% auto;
}


header {
  padding: 3%;
  text-align: center;
  margin-bottom: 5%;
}

.hidden {
  display: none;
}

input {
  width: 90%;
  border: 1px dotted #999;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}

li {
  padding: 3%;
  border: 5px solid olive;
}

.right {
  text-align: right;
  position: relative;
  right: 0;
}

ul {
  padding: 0;
  width: 66%;
  margin: auto auto;
  list-style-type: none;
}

textarea {
  width: 100%;
  border: 1px dotted #999;
  border-radius: 0;
}

/*COLORS*/

.css-addbookmark {
  border: 5px solid #838383;
}

.submit {
  background-color: #428bca;
  color: white;
}

input[type=text] {
  width: 100%;
  background-color: #EDEDED;
}

footer {
  background-color: #838383;
}

footer a {
  color: black;
}

header {
  background-color: #b4b4b4;
  border: #838383;
}

li {
  border: 5px solid #838383;
}



