* {
  box-sizing: border-box;
    
}

html {
  min-height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  font-size: 18px;
margin: 0;
  width: 100%;
  min-height: 100%;
}



button {
  border-radius: 13px;
  border: 1px solid black;
  padding: 3%;
  font-size: inherit;
  margin: 1% auto 0 auto;
  right: 0;
-webkit-box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 4px 8px rgba(50, 50, 50, 0.75);
box-shadow:         2px 4px 8px rgba(50, 50, 50, 0.75);

}

.center {
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 600px){
  .col3, .col16  {
   margin: 0 auto;
   width: 100%;
   display: block;
   float: none;

 }
}


@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col3 {
    padding: 1%;
    width: 40%;
    float: left;
  }
  
  .col16 {
    width: 16%;
    margin: 0 1% 0 1%;
    float: left
  }
  
}




.collapsed {
  border-bottom: 1px dotted gray;
  display: inline-block;
  width: 100%;
}
.container {
  width: 66%;
  margin: auto auto;
}

.expander {
  float: right;
}

fieldset {
  border: 0px solid white;
}

footer  {
  margin: 0;
  width: 100%;
}

footer nav {
  margin: 0 auto;
}


footer nav ul {
  padding: 0;
  margin: 0;
}

footer li {
  display: inline;
   list-style-type: none;
   margin: 5%;
}

form {
  padding: 1%;
  width: 100%;
  margin: 0 auto 3% auto;
}


header {
  padding: 3%;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  margin-bottom: 5%;
}

.hidden {
  display: none;
}

input {
  border: 1px dotted #999;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}

input#markrating {
  width: 50%;
}

input {
  padding: 3%;
}

input:focus { 
 background-color: yellow;
}

label {
  margin: 1%;
}

li {
  padding: 3%;

}

.rating {
  text-align: right;

  font-size: 1.5em;
}

.rating::before {
  margin-right: 3%;
  margin-left:10%;
  content: "|";
}
.rating::after {
  margin-left: 3%;
  content: " | ";
}

.right {
  text-align: right;
  position: relative;
  right: 0;
}

ul {
  padding: 0;
  width: 66%;
  margin: auto auto;
  list-style-type: none;
}

.sitename {
  font-family: 'Fira Sans', sans-serif;f;
  font-weight: bold;
  font-size: 2em;
}

textarea {
  width: 100%;
  border: 1px dotted #999;
  border-radius: 0;
   resize: none;
   padding: 3%;
}

/*COLORS*/

.css-addbookmark {
  border: 5px solid #838383;
}

.submit {
  background-color: #428bca;
  color: white;
}

input[type=text] {
  width: 100%;
  background-color: #EDEDED;
}

footer {
  background-color: #838383;
}

footer a {
  color: black;
}

header {
  background-color: #b4b4b4;
  border: #838383;
}

li {
  /* border: 5px solid #838383; */
}



